@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

* {
    background-color: whitesmoke;
    
}
body {
    font-family: inter;
    font-size: 8px;
    width:80%;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    width: fit-content;
    border: 1px solid rgba(164,162,154,0.22);
    border-radius: 5px;
}
.randomImg {
    margin: 0%;
}
.container {
    margin: 15px;
}
.logo {
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-bottom: 8px;
    margin-top: 0%;
}
